@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
