.invest-config__sum {
  background: #DAE1E7;
  border-bottom: 1px solid #B4C0CB;
  padding: 20px 30px 20px 20px;
  height: 50%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.config-wrapper {
  width: 100%;
}
.invest-sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 75px;
  width: 100%;

  input {
    text-align: center;
    padding: 2px 0;
    border-radius: 25px;
    border: 1px solid #9EAEBD;
    font-size: 25px;
    width: 210px;
    color: #002662;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
}

.invest-slider {
  padding-bottom: 30px;
  width: 100%;
}